html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#wrap > .container-fluid {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
/*#footer {
    background-color: #f5f5f5;
}*/

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.show-on-hover {
    visibility: hidden;
}

.table-large td {
    font-size: 18px;
}

.table-width-auto {
    width: auto;
}

.show-on-hover-hook:hover .show-on-hover {
    visibility: visible;
}

.cashbox a.article {
    position: relative;
    height: 100px;
    width: 120px;

    padding-top: 30px;
    /*margin-bottom: 20px;*/
    margin-bottom: 10px;
    margin-right: 10px;

    -webkit-border-radius: .6em /*{global-radii-blocks}*/;
    border-radius: .6em /*{global-radii-blocks}*/;
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.2) /*{global-box-shadow-color}*/
}

.cashbox a.article > div {
    position: absolute;
    font-size: 10pt;
}

.cashbox .top {
    top: 5px;
}

.cashbox .bottom {
    bottom: 5px;
}

.cashbox .left {
    left: 5px;
}
.cashbox .right {
    right: 5px;
}

.inactive {
    text-decoration: line-through;
}

input + .add-on {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus + .add-on {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


input.ng-invalid {
    color: #b94a48;
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

input.ng-invalid:focus,
input.ng-invalid:focus + .add-on {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.ng-invalid + .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}
