body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.mod-order .group {
    position: relative;
    background-color: #fff;
    padding-bottom: 15px;
    padding-left: 90px;
    /*padding-top: 30px;*/
}
.mod-order .groupname {
    position: absolute;
    top: 0px;
    left: 0px;
    /*padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;*/
}

.mod-order a.article {
    position: relative;
    height: 100px;
    width: 120px;

    padding-top: 30px;
    /*margin-bottom: 20px;*/
    margin-bottom: 5px;

    -webkit-border-radius: 				.6em /*{global-radii-blocks}*/;
    border-radius: 						.6em /*{global-radii-blocks}*/;
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.2) /*{global-box-shadow-color}*/
}

.mod-order a.article > div {
    position: absolute;
    font-size: 10pt;
}

.mod-order .top {
    top: 5px;
}

.mod-order .bottom {
    bottom: 5px;
}

.mod-order .left {
    left: 5px;
}
.mod-order .right {
    right: 5px;
}
.mod-order .amount, .mod-order .dec {
    display: none;
}

.mod-order .notes {
    position: absolute;
    right: 5px;
    z-index: 10;
}
