body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.show-on-hover {
    visibility: hidden;
}

.table-large td {
    font-size: 17.5px;
}

.show-on-hover-hook:hover .show-on-hover {
    visibility: visible;
}

.cashbox a.article {
    position: relative;
    height: 100px;
    width: 120px;

    padding-top: 30px;
    /*margin-bottom: 20px;*/
    margin-bottom: 10px;
    margin-right: 10px;

    -webkit-border-radius: .6em /*{global-radii-blocks}*/;
    border-radius: .6em /*{global-radii-blocks}*/;
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.2) /*{global-box-shadow-color}*/
}

.cashbox a.article > div {
    position: absolute;
    font-size: 10pt;
}

.cashbox .top {
    top: 5px;
}

.cashbox .bottom {
    bottom: 5px;
}

.cashbox .left {
    left: 5px;
}
.cashbox .right {
    right: 5px;
}