<div class="row-fluid articles">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" ng-repeat="articleGroup in articlesGrouped">
                    <li class="nav-header">{{articleGroup.group}}</li>
                    <li ng-repeat="article in articleGroup.articles" ng-class="{active: selectedId == article._id}">
                        <a href="" ng-click="selectArticle(article)" class="clearfix">
                            <div class="pull-left" ng-class="{inactive: article.active == undefined || !article.active}">{{article.name}} <i ng-show="article.kitchen" class="icon-fire"></i></div>
                            <div class="pull-right"><span class="badge" ng-show="{{article.available >= 0}}">{{article.available}}</span></div>

                        </a>
                    </li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">Weitere Funktionen</li>
                <li><a href="" ng-click="addArticle()"><em>neuer Artikel</em></a></li>
            </ul>
        </div>
    </div>
    <div class="span9" ng-controller="ArticleController" ng-show="article">
        <form name="form">
            <fieldset>
                <label>Name</label>
                <input required maxlength="45" type="text" class="span8" ng-model="article.name">
                <label>Text Beleg</label>
                <input maxlength="35" type="text" class="span8" ng-model="article.receipt">
                <label>Preise</label>
                <div class="input-append">
                    <input required class="span4 text-right" type="text" currency ng-model="article.price.chf">
                    <span class="add-on">CHF</span>
                </div>
                <div class="input-append">
                    <input required class="span4 text-right" type="text" currency ng-model="article.price.eur">
                    <span class="add-on">EUR</span>
                </div>
                <label>Limitierte Anzahl</label>
                <input class="span2" type="number" placeholder="unlimitiert" ng-model="article.available">
                <label class="checkbox">
                    <input type="checkbox" ng-model="article.kitchen">Zubereitung durch K&uuml;che (<i class="icon-fire"></i>)
                </label>
                <label class="checkbox">
                    <input type="checkbox" ng-model="article.active">In der Kasse verfügbar
                </label>
                <label>Gruppe</label>
                <input ng-model="article.group" maxlength="20" type="text" class="span4">
            </fieldset>
            <button type="submit" class="btn" ng-class="{'btn-danger': form.$invalid, 'btn-primary': !form.$invalid}" ng-disabled="form.$invalid || isUnchanged()" ng-click="save()">Speichern</button>
            <button class="btn btn-inverse delete" ng-click="remove()">L&ouml;schen</button>
        </form>
    </div>
</div>