<div class="row-fluid cashbox">
    <div class="span3">
        <div class="well">
            <table class="table table-condensed" ng-show="lastOrder && !lastOrder.voucher">
                <tr>
                    <td><span class="badge">{{lastOrder.amount | currency:lastOrder.currency}}</span></td>
                    <td>letzte Bestellung</td>
                </tr>
                <tr>
                    <td>
                        <div class="input-append">
                            <input class="text-right input-mini" type="text" placeholder="Erhalten" ng-model="given" focus="lastOrder">
                            <span class="add-on">{{lastOrder.currency.toUpperCase()}}</span>
                        </div>
                    </td>
                    <td>erhalten</td>
                </tr>
                <tr>
                    <td>
                        <span class="badge">{{((given | currency) - lastOrder.amount) | currency:lastOrder.currency}}</span>
                    </td>
                    <td>zurück</td>
                </tr>
            </table>
            <table class="table table-striped table-condensed table-large">
                <tr ng-repeat="article in articles | filter: isOrdered" class="show-on-hover-hook">
                    <td class="text-right">{{article.ordered}}x</td>
                    <td ng-click="remove(article)" class="text-left">{{article.name}}<i class="icon-minus-sign pull-right show-on-hover"></i></td>
                </tr>
            </table>
            <div>
                <span ng-repeat="(currency, amount) in total track by $id(currency)"  ng-class-odd="'pull-left'" ng-class-even="'pull-right'">
                    <a  class="btn" ng-class="{disabled: amount == 0, 'btn-primary': amount > 0}" ng-click="order(currency)">{{amount | currency:currency }}</a>
                </span>
            </div>
            <p class="clearfix"></p>
            <p>
                <a class="btn btn-block" ng-class="{disabled: total[voucherCurrency] == 0, 'btn-info': total[voucherCurrency] > 0}" ng-click="order(voucherCurrency, true)">Gutschein</a>
            </p>
            <textarea placeholder="Hinweise für die Küche" class="input-block-level" rows="5" ng-model="kitchenNotes"></textarea>
        </div><!--/.well -->
    </div><!--/span-->

    <div class="span9">
        <a class="btn btn-large article" ng-class="{disabled: !isAvailable(article)}" ng-repeat="article in articles | filter:{active: true}" ng-click="add(article)">
            <div class="top left right" ng-show="article.available > -1">Verf: <span class="available badge">{{article.available}}</span></div>
            <div class="bottom muted" ng-repeat="(currency, amount) in article.price track by $id(currency)"  ng-class-odd="'left'" ng-class-even="'right'">
                {{amount | currency:currency}}
            </div>
            {{article.name}}
        </a>
    </div>
</div>
